# Dictionaries, Tuples and Sets

### Dictionaries
So far we've only seen how to store data types in sequences like storing characters in a string or items in a list. But what if we want to store information another way? Python support Dictionaries which is a key-item data structure. 

The choice of deciding between sequences like a list and mappings like a dictionary often depends on the specific situation. As you become a stronger programmer, choosing the right storage format will become more intuitive.

Let's cover the basics of dictionaries!

## Creating a Dictionary

In [183]:
new_dict = {"item1": 1,
           "item2" : 2,
           "item3" : "Abuja"}

In [189]:
new_dict["item3"] = "Kano"

In [190]:
new_dict

{'item1': 1, 'item2': 2, 'item3': 'Kano', 'item4': 1000}

In [186]:
# Make a dictionary with {} and : to signify a key and a value
d = {'key1':'value1','key2':'value2'}

In [62]:
# Call values by their key
d['key1']

'value1'

In [63]:
d['key2']

'value2'

### Adding New Key-Item Pairs

In [64]:
d['new_key'] = 'new item'

In [65]:
d

{'key1': 'value1', 'key2': 'value2', 'new_key': 'new item'}

**Note: Dictionaries are unordered! *This may not be clear at first with smaller dictionaries, but as dictionaries get larger they won't retain order, which means they can not be sorted!* If you need order and the ability to sort, stick with a sequence, like a list!**

In [66]:
d = {'a':1,'z':2}

In [67]:
d

{'a': 1, 'z': 2}

In [68]:
d['new'] = 0

In [69]:
d

{'a': 1, 'z': 2, 'new': 0}

In [70]:
d['za'] = 'hello'

In [71]:
d

{'a': 1, 'z': 2, 'new': 0, 'za': 'hello'}

Dictionaries are very flexible in the data types they can hold, they can hold numbers, strings, lists, and even other dictionaries!

In [198]:
d = {'k1':10,
     'k2':'stringy',
     'k3':[1,2,3,],
     'k4':{'inside_key':[20,30,40, {"keyinside": [60,20, "thirty"]}]}}

In [205]:
d["k4"]["inside_key"][3]["keyinside"][1:]

[20, 'thirty']

In [74]:
d['k1']

10

In [75]:
d['k2']

'stringy'

In [76]:
d['k3']

[1, 2, 3]

In [77]:
d['k3'][0]

1

In [78]:
d['k4']

{'inside_key': 100}

In [79]:
d['k4']['inside_key']

100

Error if you ask for a key that isn't there!

In [80]:
d['oops']

KeyError: 'oops'

Keep dictionaries in mind when you need to create a mapping and don't care about order! 

For example:

In [210]:
short_names = {"AAU": "Ambrose Alli University",
             "OAU": "Obafemi Awolowo University",
             "UNILAG": "University of Lagos",
             "NDA": "National Defence Academy"}

In [207]:
short_names["AAU"]

'Ambrose Alli University'

Another example of using Dictionaries...

In [208]:
pop_in_mil = {"Nigeria": 180,
              "USA":323,
              "Germany": 83,
              "India": 1324}

In [209]:
pop_in_mil["Nigeria"]

180

## Methods

In [211]:
short_names.values()

dict_values(['Ambrose Alli University', 'Obafemi Awolowo University', 'University of Lagos', 'National Defence Academy'])

In [212]:
short_names.keys()

dict_keys(['AAU', 'OAU', 'UNILAG', 'NDA'])

In [213]:
short_names.items()

dict_items([('AAU', 'Ambrose Alli University'), ('OAU', 'Obafemi Awolowo University'), ('UNILAG', 'University of Lagos'), ('NDA', 'National Defence Academy')])

# Tuples 

Tuples are ordered sequences just like a list, but have one major difference, they are **immutable**. Meaning you can not *change* them. So in practice what does this actually mean? It means that you can not reassign an item once its in the tuple, unlike a list, where you can do a reassignment.

Let's see this in action:

## Creating a Tuple

You use parenthesis and commas for tuples:

In [214]:
t = (1,2,3)

In [215]:
type(t)

tuple

In [216]:
# Mixed data types are fine
t = ('a',1)

In [218]:
# Indexing works just like a list
t[0]

'a'

## Immutability

In [219]:
mylist = [1,2,3]

In [220]:
type(mylist)

list

In [221]:
# No problem for a list!
mylist[0] = 'new'

In [222]:
mylist

['new', 2, 3]

In [223]:
t = (1,2,3)

In [224]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

You also can't add items to a tuple:

In [225]:
t.append('NOPE!')

AttributeError: 'tuple' object has no attribute 'append'

## Tuple Methods

Tuples only have two methods available .index() and count()

In [226]:
t = ('a','b','c','a')

In [228]:
# Returns index of first instance!
t.index('a')

0

In [230]:
t.count('b')

1

## Why use tuples?

Lists and tuples are very similar, so you may find yourself exchanging use cases for either one. However, you should use a tuple for collections or sequences that shouldn't be changed, such as the dates of the year, or user information such as an address,street, city , etc.

# Sets

Another fundamental Data Structure is The Set!

Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works:

## Constructing Sets

In [231]:
x = set()

In [236]:
x.add(1)

In [237]:
x

{1, 2}

In [106]:
x.add(2)

In [107]:
x

{1, 2}

Note the curly brackets. This does not indicate a dictionary!

A set has only unique entries. So what happens when we try to add something that is already in a set?

In [108]:
x.add(1)

In [109]:
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [238]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [239]:
set(mylist)

{1, 2, 3}

You can also quickly create a set with just {}

In [242]:
myset = {1,2,3,3,3,3,3,3}

In [243]:
myset

{1, 2, 3}

In [241]:
type(myset)

set